#_bodyCopy{
	height: 80%;
	width: 90%;
	
	font-size: 9pt;
	font-family: Helvetica, sans-serif;
	text-align: center;

  	margin: auto;
  	padding: 0px;

}
.title{
	font-weight: bold;	
}

.thumbnail{
	width:100%;
	height:auto;
}

td{
	width:30%;
	padding-left:15px;
	padding-right:15px;
	padding-bottom:15px;
	vertical-align: top;
	
}

#_bodyCopy a{
	color: white;
	text-decoration:none;
}
table{
	margin: auto;
}

