#_loginCopy{
	display:none;
	height: 80%;
	width: 75%;
	background: #c1c1c1;
	font-size: 11pt;
	font-family: Helvetica, sans-serif;
	text-align: left;
  	margin: auto;
  	padding: 15px;

}

#_confirmationCopy{
	display:none;
	height: 80%;
	width: 75%;
	background: #c1c1c1;
	font-size: 11pt;
	font-family: Helvetica, sans-serif;
	text-align: left;
  	margin: auto;
  	padding: 15px;

}

#_invalidUsernameOrPassword{
	display:none;
	font-size: 10pt;
	font-family: Helvetica, sans-serif;
	text-align: left;
	color: black;
	width: 100%;
}

#_invalidUsernameOrPassword a, .linkButton{
	color: white;
}




textarea {
	border: 2px solid #cccccc;
    resize: none;
}




.title{
	font-size: 16pt;
	font-weight: bold;	
}


.submitButton {
    background-color: #000; /* Green */
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    
}

.submitCel{
	padding-top: 15px;
}

table{
	margin: auto;
	
}



#_loginCopy a{
	color: white;
	line-height: 200%;
}

#_joinCopy a, #_createCopy a{
	color: white;
	line-height: 150%;
}

#_joinCopy a, #_createCopy a{
	color: white;
	line-height: 150%;
}

#_joinCopy a:visited, #_createCopy a:visited, .linkButton:visited{ 
    color: white;
}



#_joinCopy{
	display:none;
	height: 80%;
	width: 75%;
	background: #c1c1c1;
	font-size: 11pt;
	font-family: Helvetica, sans-serif;
	text-align: left;

  	margin: auto;
  	padding: 15px;
}

#_createCopy{
		display:none;
	height: 80%;
	width: 75%;
	background: #c1c1c1;
	font-size: 11pt;
	font-family: Helvetica, sans-serif;
	text-align: left;
  	margin: auto;
  	padding: 15px;
  

}

#_registerSubmit{
	display:block;
	margin: auto;
}