#_bodyCopy{
	height: 80%;
	width: 80%;
	background: #c1c1c1;
	font-size: 11pt;
	font-family: Helvetica, sans-serif;
	text-align: left;

  	margin: auto;
  	padding: 15px;

}
.title{
	font-size: 14pt;
	font-weight: bold;	
}

.objective{
	
}

.screenImage{
	margin: auto;
	width:100%;
	/* max-width: 300px; */
	height:auto;
	padding:0;
}

.buttonType{
	color:white;
	font-weight: bold;
}	


.screenImageContainer{
	margin: auto;
	max-width: 300px;
}	

.submitButton {
    background-color: #000; /* Green */
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    
}