/* Clearfix */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

/* Basic Styles */
body {
	background-color: #6f6f6f;
}


nav {
	height: 40px;
	width: 100%;
	background: #ffffff;
	font-size: 11pt;
	font-family: Helvetica, sans-serif;
	/* font-weight: bold; */
	position: relative;
	/* border-bottom: 2px solid #283744; */
}
nav ul {
	padding: 0;
	margin: 0 auto;
	width: 1000px;
	height: 40px;
}
nav li {
	display: inline;
	float: left;
}
nav a {
	color: #8d8d8d;
	display: inline-block;
	width: 100px;
	text-align: center;
	text-decoration: none;
	line-height: 40px;
	/* text-shadow: 1px 1px 0px #283744; */
}
nav li a {
	/* border-right: 1px solid #333333; */
	/* box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box; */
}
nav li:last-child a {
	border-right: 0;
}
nav a:hover, nav a:active {
	color: #000000;
}
nav a#pull {
	display: none;
}

nav a#pull:hover, nav a:active {
	color: #8d8d8d;
}

#logo { 
  	width: 100%;
  	height: auto;
  	position:relative; 
	margin:0px;
	padding:0px;
	border: 0;
	display: block
 }
 
 #filler { 
  	width: 100%;
  	background-color: #6f6f6f;
  	position:relative; 
	margin:0px;
	padding:0px;
	border: 0;
	display: inline
 }
 
 #_body { 
  	width: 100%;
  	height: 1000%;
  	background-color: #6f6f6f;
  	position:relative; 
	margin:0px;
	padding:0px;
	padding-top:30px;
	border: 0;
	display: block
 }
 
 .activePage{
     color:#000;
     font-weight: bold;	
 }

/*Styles for screen 600px and lower*/
@media screen and (max-width: 900px) {
	
	
	nav { 
  		height: auto;
  	}
  	nav ul {
  		width: 100%;
  		display: block;
  		height: auto;
  	}
  	nav li {
  		width: 100%;
  		float: left;
  		position: relative;
  	}
  	nav li a {
		/* border-bottom: 1px solid #576979; */
		border-right: 1px solid #576979;
	}
  	nav a {
	  	text-align: center;
	  	width: 100%;
	  	text-indent: 25px;
  	}
}

/*Styles for screen 515px and lower*/
@media only screen and (max-width : 768px) {
	nav {
		border-bottom: 0;
	}
	nav ul {
		display: none;
		height: auto;
	}
	nav a#pull {
		font-size: 14pt;
		display: block;
		background-color: #fff;
		width: 100%;
		position: relative;
		font-weight: bold;
		
	}
	nav a#pull:after {
		content:"";
		color: #8d8d8d;
		/* background: url('../img/menuDev/nav-icon.png') no-repeat; */
		width: 30px;
		height: 30px;
		display: inline-block;
		position: absolute;
		right: 15px;
		top: 10px;
	}
}

/*Smartphone*/
@media only screen and (max-width : 320px) {
	nav li {
		display: block;
		float: none;
		width: 100%;
	}
	nav li a {
		border-bottom: 1px solid #576979;
	}
}